version: "2"
services:
    # zookeeper:
    #     image: confluentinc/cp-zookeeper:6.1.1
    #     environment:
    #         ZOOKEEPER_CLIENT_PORT: 2181
    #         ZOOKEEPER_TICK_TIME: 2000
    #     ports:
    #         - 22181:2181

    kafka-1:
        image: debezium/kafka:1.7.0.Final
        ports:
          - 19092:9092
          - 19093:9093
          - 9012:9012
        environment:
          - CLUSTER_ID=oh-sxaDRTcyAr6pFRbXyzA
          - BROKER_ID=1
          - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093
          - JMXPORT=9012
          - JMXHOST=0.0.0.0

    schema-registry:
        image: confluentinc/cp-schema-registry:6.1.0
        hostname: schema-registry
        container_name: schema-registry
        depends_on:
          # - zookeeper
          - kafka-1
        ports:
          - '8081:8081'
        environment:
          SCHEMA_REGISTRY_HOST_NAME: schema-registry
          SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: kafka-1:9092
          SCHEMA_REGISTRY_KAFKASTORE_TOPIC_REPLICATION_FACTOR: 1

    connect:
        image: cnfldemos/kafka-connect-datagen:0.5.0-6.2.1
        container_name: connect-datagen
        restart: always
        ports:
          - "8083:8083"
        depends_on:
          - kafka-1
        environment:
          CONNECT_BOOTSTRAP_SERVERS: kafka-1:9092
          CONNECT_REST_PORT: 8083
          CONNECT_REST_ADVERTISED_HOST_NAME: connect-datagen
          CONNECT_GROUP_ID: connect-datagen-group
          CONNECT_CONFIG_STORAGE_TOPIC: connect-datagen-configs
          CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 1
          CONNECT_OFFSET_FLUSH_INTERVAL_MS: 10000
          CONNECT_OFFSET_STORAGE_TOPIC: connect-datagen-offsets
          CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 1
          CONNECT_STATUS_STORAGE_TOPIC: connect-datagen-status
          CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 1
          CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
          CONNECT_VALUE_CONVERTER: io.confluent.connect.avro.AvroConverter
          CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: 'http://schema-registry:8081'
          CONNECT_INTERNAL_KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
          CONNECT_INTERNAL_VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
          # CONNECT_ZOOKEEPER_CONNECT: 'zookeeper:32181'
          CONNECT_PLUGIN_PATH: "/usr/share/java,/usr/share/confluent-hub-components"
          CONNECT_LOG4J_LOGGERS: "org.apache.kafka.connect.runtime.rest=WARN,org.reflections=ERROR"

    kafka-magic:
        image: digitsy/kafka-magic
        ports:
            - 8091:80

    kafka-ui:
        image: provectuslabs/kafka-ui:latest
        environment:
            KAFKA_CLUSTERS_0_NAME: local
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-1:9092
            SCHEMA_REGISTRY: http://schema-registry:8081
        ports:
            - 8092:8080

    kafdrop:
        image: obsidiandynamics/kafdrop
        environment:
            KAFKA_BROKERCONNECT: kafka-1:9092
            SERVER_SERVLET_CONTEXTPATH: "/"
        ports:
            - 8093:9000

    kowl:
        image: quay.io/cloudhut/kowl:master
        environment:
            KAFKA_BROKERS: kafka-1:9092
            KAFKA_SCHEMAREGISTRY_ENABLED: 'true'
            KAFKA_SCHEMAREGISTRY_URLS: http://schema-registry:8081
            CONNECT_ENABLED: 'true'
            CONNECT_CLUSTERS_NAME: datagen
            CONNECT_CLUSTERS_URL: http://connect:8083
            KAFKA_PROTOBUF_ENABLED: 'true'
            KAFKA_PROTOBUF_SCHEMAREGISTRY_ENABLED: 'true'
            KAFKA_PROTOBUF_SCHEMAREGISTRY_URLS: http://schema-registry:8081
            OWL_TOPICDOCUMENTATION_ENABLED: 'true'
            OWL_TOPICDOCUMENTATION_GIT_ENABLED: 'true'
            OWL_TOPICDOCUMENTATION_GIT_REPOSITORY_URL: https://github.com/gimral/kafka-ui.git
            OWL_TOPICDOCUMENTATION_GIT_REPOSITORY_BRANCH: master
        ports:
            - 8094:8080
